# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT= # team: sharity, project: sharity
CONVEX_DEPLOYMENT_KEY= # please fill in
NEXT_PUBLIC_CONVEX_URL=https://please-fill-me-in.convex.cloud
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bGFyZ2UtcG9sZWNhdC0yMy5jbGVyay5hY2NvdW50cy5kZXYk
NEXT_PUBLIC_POSTHOG_TOKEN=phc_KSCT6MTSnaw4s734M2bGm2baLh6PcDoy6eqMnjeLdp4
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
CLERK_SECRET_KEY= # please fill in
CLERK_ISSUER_URL= # please fill in 
CLOUDINARY_CLOUD_NAME= # please fill in
CLOUDINARY_API_KEY= # please fill in
CLOUDINARY_API_SECRET= # please fill in
